 {% extends "shop/base.html" %} {% block content %}
<div class="container">
    <div class="card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col" width="120">Quantity</th>
                    <th scope="col" width="120">Price</th>
                    <th scope="col" width="200" class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                <tr>
                    <td>
                        <figure class="media">
                            <div class="img-wrap">
                                <img width="200" src="{{ item.main_image.url }}" class="img-thumbnail img-sm">
                            </div>
                            <figcaption class="media-body ml-5">
                                <h6 class="title text-truncate">{{ item.name }}</h6>
                                <dl class="param param-inline small">
                                    <dt>Description: </dt>
                                    <dd>{{ item.description|truncatechars:180 }} </dd>
                                </dl>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                            <select class="form-control">
                                    {% for i in "xxxxxxxxxx" %}
                                        <option {% if  forloop.counter  == item.quantity %} selected="selected" {% endif %}> {{ forloop.counter }}</option>
                                    {% endfor %}
                            </select> 
                    </td>
                    <td>
                        <div class="price-wrap">
                            <var class="price"> ${{ item.total_price }}</var>
                            <small class="text-muted">(${{ item.price }})</small>
                        </div>
                    </td>
                    <td class="text-right">
                        <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist">
                            <i class="fa fa-heart"></i>
                        </a>
                        <a href="" class="btn btn-outline-danger"> × Remove</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}