{% extends "shop/base.html" %} {% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-xs-center">
                    <i class="fa fa-search-plus float-xs-left icon"></i>
                    <h2>Invoice for purchase #{{ order.id }}</h2>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card  height">
                            <div class="card-header">Shipping Address</div>
                            <div class="card-body">
                                <strong>{{ order.first_name }}:</strong><br>
                                {{ order.country.name }}<br>
                               {{ order.city.name }}<br>
                                {{ order.adress }}
                             {{ order.postal_code }}<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header text-center">
                        <h3 class="text-xs-center"><strong>Order summary</strong></h3>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <td><strong>Item Name</strong></td>
                                        <td class="text-xs-center"><strong>Item Price</strong></td>
                                        <td class="text-xs-center"><strong>Item Quantity</strong></td>
                                        <td class="text-xs-right"><strong>Total</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order.items.all %}
                                        <tr>
                                            <td>{{ item.product.name }}</td>
                                            <td class="text-xs-center">${{ item.price }}</td>
                                            <td class="text-xs-center">{{ item.quantity }}</td>
                                            <td class="text-xs-right">${{ item.get_cost }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <!-- <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                                        <td class="emptyrow"></td> -->
                                        <td class="emptyrow text-xs-center"><strong>Total</strong></td>
                                        <td class="emptyrow text-xs-right">${{ order.get_total_cost }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <style>
    .height {
        min-height: 200px;
    }
    
    .icon {
        font-size: 47px;
        color: #5CB85C;
    }
    
    .iconbig {
        font-size: 77px;
        color: #5CB85C;
    }
    
    .table > tbody > tr > .emptyrow {
        border-top: none;
    }
    
    .table > thead > tr > .emptyrow {
        border-bottom: none;
    }
    
    .table > tbody > tr > .highrow {
        border-top: 3px solid;
    }
    </style>
    {% endblock %}